<div class="mdl-grid portfolio-max-width" ng-repeat="package in packages">
<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
    <div class="mdl-card__media">
        <img class="article-image" ng-src="https://dreamtour.co/asset/images/slider/{{package.photo}}" border="0" alt="">
    </div>
    <div class="mdl-card__title ">
        <h2 class="mdl-card__title-text">{{ package.name }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
        {{ package.description }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a ng-click="detail($index)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
          Lihat
        </a>
    </div>
</div>

</div>
    
